<%- include('partials/header') %>
    <%- include('partials/nav') %>

    <main id="note" class="container">
        <h2><%= note.title %></h2>
        <p><%= note.body %></p>
    </main>
    <div>
        <a href="/edit/<%= note.id %>">Edit note</a>
        <form action="/delete/<%= note.id %>" method="post">
            <input type="submit" value="Delete note">
        </form>
    </div>
    
<%- include('partials/footer') %>